{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'codemirror-5.49.0/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror-5.49.0/addon/fold/foldgutter.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror-5.49.0/addon/hint/show-hint.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror-5.49.0/addon/lint/lint.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror-5.49.0/addon/lint/lint.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror-5.49.0/theme/darcula.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert/sweetalert.min.css' %}">
{% endblock %}


{% block content_header %}

    <div class="container">
        <div class="row">
            <div class="alert" role="alert" style="background-color: #fcf8e3">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <strong>Tips！</strong> 目前 浏览器仅支持
                <img src="{% static 'img/browser/compatible_chrome.png' %}" alt="">
                <img src="{% static 'img/browser/compatible_firefox.png' %}" alt="">
                <img src="{% static 'img/browser/compatible_safari.png' %}" alt="">
                <img src="{% static 'img/browser/compatible_ie.png' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-btn">
                    {#                    <button class="btn btn-default execute_case">Run</button>#}
                    <button class="btn btn-default">
                        <a href="{% url 'ui_index' 0 %}">返回</a>
                    </button>
                </div>
                <select name="" id="case_vest_project" class="form-control">
                    {% for pro in project_obj %}
                        {% if ui_case_obj.case_vest_project_id == pro.pk %}
                            <option value="{{ pro.pk }}" selected>{{ pro.project_name }}</option>
                        {% else %}
                            <option value="{{ pro.pk }}">{{ pro.project_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="input-group-addon btn">用例名称</span>
                <input type="text" class="form-control" aria-label="..." id="case_value"
                       value="{{ ui_case_obj.case_name }}">
                {% if ui_case_obj %}
                    <span class="input-group-addon ">用例是否通过</span>
                    <select name="" id="border" class="form-control border">
                        {% for foo in ui_case_obj.case_execute_pass_choices %}
                            <option value="{{ foo.0 }}">{{ foo.1 }}</option>
                        {% endfor %}

                    </select>
                {% endif %}
                <span class="input-group-addon btn save_case">保存用例</span>
            </div>
        </div>
    </div>


{% endblock %}

{% block content_fluid %}
    <div class="container">
        <div class="row">

            <form>

                <textarea id="editor" class="editor"></textarea>
                {#        <button id="test" class="btn btn-success">Run</button>#}

                {#            <div class="btn-group" role="group" aria-label="...">#}
                {#                #}
                {#                <button type="button" class="btn btn-default">Middle</button>#}
                {#                <button type="button" class="btn btn-default">Right</button>#}
                {#            </div>#}

                {#        <button class="glyphicon glyphicon-play btn btn-success execute"></button>#}
            </form>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-danger glyphicon glyphicon-play execute_case"
                        title="执行脚本"></button>
                <button type="button" class="btn btn-info glyphicon glyphicon-floppy-save save_case"
                        pk="{{ ui_case_obj.pk }}" id="case_pk" title="保存用例"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-facetime-video  check"
                        id="screenVideo" operator="0" title="点击录制视频"></button>
                {#                <button class="btn ">程序正在执行：20</button>#}
            </div>
            <div class="alert alert-success" id="clock" hidden>
                <strong>程序正在执行</strong> 耗时: <span id="hour">00</span>:
                <span id="minute">00</span>:
                <span id="second">00</span>
                <span id="stop"></span>
            </div>
            <div id="case_result" style="overflow-y:scroll;max-height: 500px;" hidden>

            </div>
            <div>
                {#                <video style="max-width: 1200px;width: auto;min-height: 800px;height: auto;" controls="controls"#}
                {#                       autoplay="autoplay" loop="loop">#}
                {#                    <source src="{{ MEDIA_URL }}ui/4bae48863455c0b633b8c656a8bb67e7.mp4" type="video/mp4"#}
                {#                            id="show_video"/>#}
                {#                </video>#}

            </div>
        </div>

    </div>


{% endblock %}


{% block js %}
    <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/comment/comment.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/selection/active-line.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/fold/brace-fold.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/fold/indent-fold.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/fold/comment-fold.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'codemirror-5.49.0/keymap/sublime.js' %}"></script>
    <script src="{% static 'js/check_command.js' %}"></script>
    <script>
        // 计时器
        var h, m, s, run;
        h = m = s = run =  0;
        var hours = $("#hour");
        var minutes = $("#minute");
        var seconds = $("#second");
        var clock = function () {
            //秒数每秒自增1
            run += 1;
            s += 1;
            if (s >= 0 && s < 10) {
                seconds.html('0' + s);//如果秒数是个位数,则在前面加个0
            } else if (s >= 0 && s <= 59) { //如果秒数是两位 则正常显示秒数
                s = s;
                seconds.html(s);
            } else {
                s = 0; //如果秒数大于60,则把秒数清零;
                m = m + 1; //分钟递增1
                seconds.html('00');
            }
            if (m >= 0 && m < 10) {
                minutes.html('0' + m);
            } else if (m <= 59) {
                m = m;
                minutes.html(m);
            } else if (m >= 60) {
                m = 0;
                h = h + 1;
                minutes.html('00');
            }
            if (h >= 0 && h < 10) {
                hours.html('0' + h);
            } else if (h > 0 && h <= 59) {
                h = h;
                hours.html(h);
            }
            // console.log(111,s)
            if (run >= 20) {

                $("#stop").text(' 程序执行时间好像有点长，请检查一下代码吧');
                $("#clock").removeClass('alert-success').addClass('alert-warning')
            }
        };
        var timer = function () {  //开始计时函数
            stop_timer = setInterval(clock, 1000)

        }
        // timer()



        // 录屏设置
        $("#screenVideo").click(function () {
            var operator = $(this).attr('operator');

            // console.log(typeof (operator), operator)
            if (operator == "0") {
                // console.log(11111, operator)
                $(this).attr('operator', 1)
                $(this).removeClass("btn-default").addClass('btn-success');
                // $(this).text('已开启屏幕录制，点我关闭')
                $(this).attr('title', '已开启屏幕录制，点我关闭')
            } else {
                // console.log(2222222222, operator)
                $(this).attr('operator', 0)
                $(this).removeClass('btn-success').addClass('btn-default');
                // $(this).text('点我开启录制功能');
                $(this).attr('title', '点我开启录制功能')
            }
        });

        // 编辑器设置
        window.onload = function editor() {

            {#var code1 = "# -*- coding: utf-8 -*-\n\n";#}
            {#var code2 = "def execute(result):\n";#}
            {#var code3 = "    ''' 在这里实现测试用例，最后返回 1/0 :成功/失败 '''";#}


            var case_code = '';
            $.each({{ ui_case_obj_case_code | safe}}, function (index, item) {
                case_code += item
            });
            var initValue = case_code;
            var el = document.getElementById("editor");
            var myCodeMirror = CodeMirror.fromTextArea(el, {
                mode: "python", // 语言模式
                theme: "darcula", // 主题
                keyMap: "sublime", // 快键键风格
                lineNumbers: true, // 显示行号
                smartIndent: true, // 智能缩进
                indentUnit: 4, // 智能缩进单位为4个空格长度
                indentWithTabs: true, // 使用制表符进行智能缩进
                lineWrapping: true, //
                // 在行槽中添加行号显示器、折叠器、语法检测器
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
                foldGutter: true, // 启用行槽中的代码折叠
                autofocus: true, // 自动聚焦
                matchBrackets: true, // 匹配结束符号，比如"]、}"
                autoCloseBrackets: true, // 自动闭合符号
                styleActiveLine: true, // 显示选中行的样式
            });
            // 设置初始文本，这个选项也可以在fromTextArea中配置
            myCodeMirror.setOption("value", initValue);
            // 编辑器按键监听
            myCodeMirror.on("keypress", function () {
                // 显示智能提示
                // myCodeMirror.showHint(); // 注意，注释了CodeMirror库中show-hint.js第131行的代码（阻止了代码补全，同时提供智能提示）
            });
            // 向后端发送代码，执行并返回执行结果
            $(".execute_case").click(function () {
                    var value = myCodeMirror.getValue();
                    var screenStatus = $("#screenVideo").attr('operator');
                    var case_id = $("#case_pk").attr('pk');
                    test_re_result = testRe(value);
                    // console.log(1111111111222222222222222222, case_id);
                    if (test_re_result[1].length > 0) {
                        swal({
                            title: "警告, 存在敏感命令！",
                            text: test_re_result[1],
                            timer: 2000,
                            showConfirmButton: false
                        });
                    } else {
                        // 通过 websocket 发送代码，并获取执行结果
                        var sk = new WebSocket('ws://' + window.location.host + '/ui/ui_execute/');
                        // 向服务端发送消息
                        sk.onopen = function () {
                            console.log('websocket connection successful...');
                            // 首先清空上一次的执行结果
                            $("#case_result").html('');
                            $("#case_result").append("<pre></pre>");
                            sk.send(JSON.stringify({
                                "case_code": value,
                                'screen_status': screenStatus,
                                'case_id': case_id
                            }));
                            // 显示计时器
                            $("#clock").show();
                            // 启动计时器
                            timer()

                        };
                        // 接收服务端的消息，主要的业务逻辑也在这里完成
                        sk.onmessage = function (msg) {
                            // 业务逻辑
                            // 显示打印结果
                            $("#case_result").show();
                            console.log(typeof(msg), msg);
                            var data_msg = JSON.parse(msg['data']);


                            $("#case_result pre").append(data_msg['msg']);
                            // 由于服务端主动断开连接，这里也断开WebSocket连接
                            // console.log(111111111111, sk.readyState)
                            if (sk.readyState == WebSocket.CLOSED) sk.close();
                        };
                        // 完事就关闭WebSocket连接
                        sk.onclose = function (msg) {
                            console.log('websocket connection close...');
                            clearInterval(stop_timer)
                            sk.close()
                        };
                        // 当WebSocket连接创建成功后，我们就可以向服务端发送数据了
                        if (sk.readyState == WebSocket.OPEN) sk.onopen();
                    }

                    /*
                    if (value) {
                        $.ajax({
                            url: '






                    {% url 'ui_execute' %}',
                        type: "POST",
                        data: {"value": value},
                        success: function (data) {
                            // 首先清空上一次的执行结果
                            $("#case_result").html('');
                            $("#case_result").append("<pre></pre>");
                            if (data) {
                                $("#case_result pre").text(data);
                            } else {
                                $("#case_result").html('<div class="alert alert-danger" role="alert">没有可执行的代码</div>');
                            }

                        }
                    })
                } else {
                    $("#case_result").html('<div class="alert alert-danger" role="alert">没有可执行的代码</div>');
                }
                */
                    // }


                }
            )
            ;
            // 保存用例
            $(".save_case").click(function () {
                var case_name = $("#case_value").val();
                var case_pk = $("#case_pk").attr('pk') == "" ? 0 : $("#case_pk").attr('pk');
                var value = myCodeMirror.getValue();
                var case_vest_project = $("#case_vest_project").find('option:selected').val();
                var case_execute_pass = $("#border").find('option:selected').val();
                // console.log(222, case_name, typeof(case_name), value, typeof(value), case_vest_project);
                console.log(1112222222222222222222222111111111111111111111111, case_pk);
                if (case_name == '' || value == '' || case_vest_project == '') {
                    // 如果用例名称或者代码框为空
                    swal({
                        title: "Error",
                        text: "用例名称和代码栏不能为空！",
                        timer: 2000,
                        showConfirmButton: false
                    });

                } else {
                    if (value) {
                        $.ajax({
                            url: '/ui/ui_add_case/' + case_pk,
                            type: "POST",
                            data: {
                                "case_code": value,
                                "case_name": case_name,
                                "case_vest_project": case_vest_project,
                                'case_execute_pass': case_execute_pass
                            },
                            success: function (data) {
                                if (data) {
                                    swal({
                                        title: "Successful",
                                        text: "用例保存成功",
                                        timer: 2000,
                                        showConfirmButton: false
                                    });
                                    /*
                                    setTimeout(function () {
                                        window.location.href = '










                                    {% url 'ui_index' 0 %}'
                                    }, 2000)
                                    */
                                } else {
                                    swal({
                                        title: "Error",
                                        text: "用例保存失败",
                                        timer: 2000,
                                        showConfirmButton: false
                                    })
                                }
                            }
                        })
                    } else {
                        $("#case_result").html('<div class="alert alert-danger" role="alert">没有可执行的代码</div>');
                    }
                }


            });
        }
        ;
        // 结果展示
        /*
        $(".case_result_alert").click(function () {
            // swal("Good job!", "You clicked the button!", "warning");  // warning
        })
        */


    </script>
{% endblock %}