{% extends 'base.html' %}



{% block content_header %}
    <div>
        <div class="btn-toolbar">
            编辑项目，注意，接口测试项目无法更改类型
        </div>
    </div>
{% endblock %}
{% block content_fluid %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% include 'manage_form.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $.each($("#id_project_type option"), function (index, item) {
        if (item.text == "接口测试") {
            $("#id_project_type").parent().hide()
        }
    })
</script>
{% endblock %}
