{% extends 'base.html' %}

{% block content_header %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <b>创建模块</b>
            </div>
        </div>
    </div>
{% endblock %}


{% block content_fluid %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% include 'manage_form.html' %}
            </div>
        </div>
    </div>




{% endblock %}